.leaf-suffix {
  position: absolute;
  bottom: 50%;
  right: 0.5rem;
  padding-left: 0.25em;
  transform: translateY(50%);
  /* ${({ theme }) => theme.typo.label}; */
  color: var(--leaf-primary50);
  opacity: 0.5;
}
